<div>
  <div class="title-container">
    <div class="title-textbox">
      <h1 class="title">Welcome to <br>CTS</h1>
    </div> 
      <h1 class="title-desc">The CTS is a data management tool to track Covid-19 cases. With the ability to scale irrespective of where, how and what test is carried out.</h1>
    <div class="button-container">
      <button class="button" mat-raised-button routerLink="/login">Getting Started</button>
    </div>
  </div>
  
  <div  class="card-container">
    <h1>Features</h1>
    <mat-card>
      <mat-card-title>
        <mat-icon>receipt_long</mat-icon>Generate Test Report
      </mat-card-title>
      <mat-card-content>
        Generate test report for testers/test center manager with ease.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        <mat-icon>science</mat-icon>Manage Test Kit Stock
      </mat-card-title>
      <mat-card-content>
        Manage test kit inventory for test center.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        <mat-icon>drafts</mat-icon>Record New Covid-19 Test
      </mat-card-title>
      <mat-card-content>
        Record new Patient's Covid-19 Test.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        <mat-icon>group_add</mat-icon>Manage Test Center
      </mat-card-title>
      <mat-card-content>
        Manage test centers from around the country.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        <mat-icon>description</mat-icon>View Patient Test Result
      </mat-card-title>
      <mat-card-content>
        Provide platform for patients to view their test result.
      </mat-card-content>
    </mat-card>
  </div>
  

  
</div>
