<mat-accordion multi="true"  *ngIf ="testkits.length > 0">  <!--multi=false only can expand one accordion-->
  <mat-expansion-panel *ngFor="let testkit of testkits">
    <mat-expansion-panel-header>
    {{testkit.testkitName}}

    </mat-expansion-panel-header>
   <!-- <mat-label>Number of stocks: {{testkit.stock}}</mat-label>-->
    <input matInput readonly value="Number of stocks: {{testkit.stock}}" >
   <!-- <p>Number of stock: {{testkit.stock}}</p>-->
    <mat-action-row>
      <span class="example-spacer"></span>
      <button mat-button color="primary" [routerLink]= "['/edit', testkit.id]">EDIT</button>
      <button mat-button color="warn" (click)= "onDelete(testkit.id)" >DELETE</button>
    </mat-action-row>

  </mat-expansion-panel>

</mat-accordion>

<p class="info-text mat-body-1" *ngIf ="testkits.length <= 0" style="color:white;">No testkit added yet</p>
