<table mat-table [dataSource]="dataSource"  *ngFor="let officer of officers" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Position </th>
    <td mat-cell *matCellDef="let officer"> {{officer.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let officer"> {{officer.username}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef> Password </th>
    <td mat-cell *matCellDef="let  officer"> {{officer.password}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="fullname">
    <th mat-header-cell *matHeaderCellDef> Fullname </th>
    <td mat-cell *matCellDef="let  officer"> {{officer.fullname}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button> <mat-icon>edit</mat-icon></button>
      <button mat-icon-button> <mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


