
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: #e2e2e2;
}
main {
  padding: 10px;
}


/*
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}
mat-sidenav {
  width: 250px;
}

*/
main{
  margin-top: 2rem;
  width: 80%;
  margin:auto
}
mat-dialog-content{
display: flex;
position: absolute;
z-index: 1000;
overflow: auto;
pointer-events: auto;
}
