

<h1 style="color:white">Test Manager Workspace</h1>
<div class=" register-wrapper" fxLayout.md="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayoutGap.xs="0">

  <mat-card class="box">

    <form class="form">
      <mat-card-content>
        <mat-form-field class="input-field">
          <mat-card-subtitle>Fullname</mat-card-subtitle>
          <input matInput readonly name="fullname" value="fullname">
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-card-subtitle>Username</mat-card-subtitle>
          <input matInput readonly name="username" value="username">
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-card-subtitle>Email</mat-card-subtitle>
          <input matInput readonly type="email" name="email" value="email">
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-card-subtitle>Password</mat-card-subtitle>
          <input matInput readonly type="password" name="password" value="password">
        </mat-form-field>
      </mat-card-content>
      <mat-card-subtitle>Test Centre </mat-card-subtitle>
      <!-- <button mat-raised-button color="primary"  routerLink="/rCentre">Add</button> -->
      <ng-container *ngIf ="testcentres.length <= 0">
        <input matInput disabled  value="N/A" id="na" >
        <button mat-raised-button color="primary" type="button" routerLink="/rCentre" >Add</button>
      </ng-container>
      <div    *ngFor="let name of testcentres" >
      <input matInput disabled value= "{{name.centreName}}" >
      <a mat-raised-button color="primary" type="button"  >Edit</a>
      <!-- <a mat-raised-button color="primary" type="button" [routerLink]= "['/edit',testcentres.id]" >Edit</a> -->
    </div>
    </form>
   <!-- <mat-card-footer class="sign">
      <p>Doesn't have any account? <a routerLink="/register">Sign Up Now</a></p>
    </mat-card-footer>-->
  </mat-card>

</div>




  <!-- <mat-grid-list cols="2"    rowHeight="300px">
    <mat-grid-tile>

      <div class="control-cont" >
        <mat-form-field>
          <mat-label>Fullname</mat-label>
          <input matInput disabled value="Marcus Hua">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput disabled value="TestManager-KL">

        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput disabled value="marcushua@gmail.com">

        </mat-form-field>
        <mat-form-field >
          <mat-label>Registered Test Centre</mat-label>
          <input matInput disabled value= "{{name}}" *ngIf ="name.length >= 3">
          <ng-container *ngIf ="name.length <= 0">
          <input matInput disabled  value="N/A" id="na" >
          <button mat-raised-button color="primary"  (click)="onDisplay()">Add</button>
        </ng-container>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="display">
    <app-testcentre-register  fxFlex.gt-sm="50%"  [enteredCentre]= "name" (addCentre)="this.name= $event" ></app-testcentre-register>
    </mat-grid-tile>
  </mat-grid-list> -->

<!--
  <div class=" register-wrapper"
  fxLayout="row wrap"
  fxLayout.sm="column"
  fxLayout="center center ""
fxLayoutGap="30px"
fxFlex.lg="33.333%" fxFlex.md="66.667%"  fxFlex.lt-sm="100%" style="margin: 20px;"
>

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="registerform" (submit)= "onRegisterTestCentre(registerForm)" #registerForm="ngForm">
      <mat-card-content>
          <mat-form-field>
            <mat-label>Fullname</mat-label>
            <input matInput readonly value="Marcus Hua">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput readonly value="TestManager-KL">

          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput readonly value="marcushua@gmail.com">

          </mat-form-field>

          <mat-form-field >
            <mat-label>Registered Test Centre</mat-label>
            <input matInput disabled value= "{{name}}" *ngIf ="name.length >= 3">
            <ng-container *ngIf ="name.length <= 0">
            <input matInput disabled  value="N/A" id="na" >

            <button mat-raised-button color="primary"  (click)="onDisplay()">Add</button>

          </ng-container>
          </mat-form-field>
      </mat-card-content>
    <div *ngIf="display">
      <app-testcentre-register  fxLayout.xs="column"
      fxLayout="center "
      fxLayoutGap="30px"
      fxFlex.lg="33.333%" fxFlex.md="66.667%"  fxFlex.lt-sm="100%" style="margin: 20px;" [enteredCentre]= "name" (addCentre)="this.name= $event" ></app-testcentre-register>
     </div>
    </form>
  </mat-card>
</div>

</div>-->
