<div>
  <h1>Covid-19 Test Result</h1>
  <mat-card style="overflow:auto;">
    <h2>Covid-19 Test Report Card</h2>
    <mat-card-content>
      <h3>Reporter Information</h3>
      <div fxlayout="row">
        <div fxFlex="50" style="margin-right:10px;">
          <h4>Report Date</h4>
          <mat-form-field  appearance="fill">
            <mat-label>7/10/2020</mat-label>
            <input matInput disabled>
          </mat-form-field>
          <h4>Tester Name</h4>
          <mat-form-field appearance="fill">
            <mat-label>Dylan Chng</mat-label>
            <input matInput disabled>
          </mat-form-field>
        </div>

        <div fxFlex="50">
          <h4>Test Centre</h4>
          <mat-form-field appearance="fill">
            <mat-label>Klinik OK Petaling Jaya</mat-label>
            <input matInput disabled>
          </mat-form-field>
          <h4>Phone Number</h4>
          <mat-form-field appearance="fill">
            <mat-label>0123336563</mat-label>
            <input matInput disabled>
          </mat-form-field>
        </div>

      </div>



      <mat-divider></mat-divider>
      <h3>Patient Information</h3>
      <div fxlayout="row">
        <div fxFlex="50" style="margin-right:10px;">
          <h4>Full Name</h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>

          <h4>Sex</h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>

          <h4>Date of Birth </h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>


        </div>

        <div fxFlex="50">
          <h4>Identity Card/Passport Number</h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>

          <h4>Age</h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>

          <h4>Phone Number</h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>


        </div>

      </div>

      <h4>Address</h4>
      <mat-form-field appearance="fill">
        <mat-label>data</mat-label>
        <input matInput disabled>
      </mat-form-field>

      <div fxlayout="row">
        <div fxFlex="50" style="margin-right:10px;">


          <h4>Zip Code</h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>

          <h4>Country</h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>
        </div>

        <div fxFlex="50">


          <h4>City</h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>

          <h4>State</h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>

        </div>

      </div>


      <mat-divider></mat-divider>
      <h3>Clinical Information</h3>
      <div fxlayout="row">
        <div fxFlex="50" style="margin-right:10px;">
          <h4>Admit Date</h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>
          <h4>Hospital</h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>
        </div>
        <div fxFlex="50" style="margin-right:10px;">
          <h4>Date of symptom onset</h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>
          <h4>Hospitalized? </h4>
          <mat-form-field appearance="fill">
            <mat-label>data</mat-label>
            <input matInput disabled>
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <h3>Test Result</h3>
      <div>
        <h4>Covid-19 Test Result</h4>
        <mat-form-field appearance="fill">
          <mat-label>Positive</mat-label>
          <input matInput disabled>
        </mat-form-field>
        <h4>Test Type</h4>
        <mat-form-field appearance="fill">
          <mat-label>Rapid Test and PCR</mat-label>
          <input matInput disabled>
        </mat-form-field>
      </div>

    </mat-card-content>	
  </mat-card>


</div>
