/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

table {
  width: 80%;
margin: auto;
}
mat-form-field{
    width:100%;
  }


.item{
  padding: 0 10px;
}

.box {
  position: relative;
  float: left;
  padding: 30px 10px;
  background: #ffc05f;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
  margin-top: 20px;
}

.register-wrapper .registerform {
  min-width: 100%;
 max-width: 400px;
  width: 100%;
}

.register-wrapper .input-field{
  width: 100%;
}
